@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 23, 23;
    --background-end-rgb: 23, 23, 23;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-rgb-221-255-85 {
  background-color: rgb(221, 255, 85);
}

.hover\:bg-rgb-170-204-0:hover {
  background-color: rgb(170, 204, 0);
}

.focus\:ring-rgb-170-204-0:focus {
  box-shadow: 0 0 0 3px rgba(170, 204, 0, 0.5);
}